html,
body {
    background: #fafafa;

    font-family: 'Lato', sans-serif;

    width: 100%;
    height: 100%;

    margin: 0;

    padding: 15px;
}

input[type='submit'],
input[type='submit']:focus {
    outline: none;
}

input[type='submit']
{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;

    width: 210px;
    height: 30px;

    margin-top: 15px;
}

div.card--container {
    position: relative;

    width: 100%;
    height: 100%;

    background: #fff;

    padding: 15px 30px;

    overflow: auto;
}

div.card--container > form h1,
div.card--container > form h3 {
    color: rgba(33, 33, 33, 0.5);
}

div.card--container > form h1 {
    margin: 0 0 20px 0;
}

div.card--container > form h3 {
    margin: 10px 0 7px;
}

div.clearfix {
    height: 20px;
}

div.card--container > div#nautine-select-container {
    border: 1px solid #e6e6e6;
}
