/**
 * Default element style declarations.
 *
 * Source bundle: Clatch Nautine
 * Developer:     Szilard Doro
 * Date:          2016-08-24
 */

/**
 * Box sizing properties
 */
.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Display properties
 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/**
 * Position properties
 */
.pos-fixed {
    position: fixed;
}

/**
 * Font size properties
 */
.font-big {
    font-size: 25px;
}

.font-medium {
    font-size: 20px;
}

.font-medium-avg {
    font-size: 18px;
}

.font-avg {
    font-size: 16px;
}

/**
 * Background color properties for different color schemes
 *
 * Primary and secondary colors
 */
.pri__dark-bg,
.pri__dark-bg-hvr:hover,
.pri__dark-bg-foc:focus {
    background: #37474F;
}

.pri__dark-bg-translucent-hvr:hover {
    background: #78909C;
}

.pri__dark-bg__destructive,
.pri__dark-bg__destructive-hvr:hover {
    background: rgba(183, 21, 21, 1);
}

.sec__lighter-bg,
.sec__lighter-bg-hvr:hover {
    background: #607D8B;
}

.sec__lighter-bg-hvr:hover,
.sec__lighter-bg-act:active {
    background: #546E7A;
}

.sec__lighter-bg__destructive-hvr:hover {
    background: rgba(230, 28, 28, 1);
}

.sec__lighter-bg__destructive-act:active {
    background: rgba(196, 22, 22, 1);
}

.sec__dark-bg__gray {
    background: rgba(68, 66, 67, 1);
}

.sec__dark-bg__gray-hvr:hover {
    background: rgba(87, 85, 85, 1);
}

.sec__dark-bg__gray-act:active {
    background: rgba(48, 46, 46, 1);
}

.overlay-bg {
    background: rgba(33, 33, 33, 0.48);
}

.white-bg {
    background: rgba(255, 255, 255, 1);
}

.white-bg-hvr:hover {
    background: rgba(240, 240, 240, 1);
}

.white-bg-act:active {
    background: rgba(230, 230, 230, 1);
}

/**
 * Text color properties
 */
.white-txt {
    color: rgba(255, 255, 255, 1);
}

.white-txt-hvr:hover {
    color: rgba(255, 255, 255, 1);
}

.disabled-white-txt,
.disabled-white-txt-hvr:hover {
    color: rgba(255, 255, 255, 0.7);
}

.disabled-txt {
    color: rgba(48, 46, 46, 0.4);
}

.disabled-dark-txt {
    color: rgba(48, 46, 46, 0.7);
}

.dark-txt,
.dark-txt-hvr:hover {
    color: #37474F;
}

.light-txt,
.light-txt-hvr:hover {
    color: #607d8b;
}

.attractive-txt-foc:focus {
    color: #B0BEC5;
}

.dark-txt__destructive {
    color: rgba(183, 21, 21, 1);
}

.dark-txt__destructive-hvr:hover {
    color: rgba(230, 28, 28, 1);
}

/**
 * Box shadow properties
 */
.material-shadow-light {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 3px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 3px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05), 0 3px 10px rgba(0, 0, 0, 0.12);
}

/**
 * Selection properties
 */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Border properties
 */
.brd-thin-light-gray {
    border: 1px solid #e6e6e6;
}

.brd-thin-dark {
    border: 1px solid #37474f;
}

.brd-thin-light {
    border: 1px solid #607d8b;
}

.brd-thick-light-gray {
    border: 2px solid #e6e6e6;
}

.brd-thick-placeholder {
    border: 2px solid rgba(0, 0, 0, 0);
}

.brd-thick-dark {
    border: 2px solid #37474f;
}

.brd-thick-light {
    border: 2px solid #607d8b;
}

.brd-thick-dark__destructive {
    border: 2px solid rgba(183, 21, 21, 1);
}

/**
 * Border radius properties
 */
.brd-rad-small-top {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.brd-rad-small-bot {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.brd-rad-small-all {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/**
 * Transition properties
 */
.trans-transform {
    -webkit-transition: transform .25s ease;
    -moz-transition: transform .25s ease;
    -o-transition: transform .25s ease;
    transition: transform .25s ease;
}

.trans-width {
    -webkit-transition: width .25s ease;
    -moz-transition: width .25s ease;
    -o-transition: width .25s ease;
    transition: width .25s ease;
}

.trans-color {
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease;
}

.trans-border {
    -webkit-transition: border .25s ease;
    -moz-transition: border .25s ease;
    -o-transition: border .25s ease;
    transition: border .25s ease;
}

.trans-bg {
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    transition: background .25s ease;
}

.trans-transform-bg {
    -webkit-transition: transform .25s ease, background .25s ease;
    -moz-transition: transform .25s ease, background .25s ease;
    -o-transition: transform .25s ease, background .25s ease;
    transition: transform .25s ease, background .25s ease;
}

.trans-border-bg {
    -webkit-transition: border .25s ease, background .25s ease;
    -moz-transition: border .25s ease, background .25s ease;
    -o-transition: border .25s ease, background .25s ease;
    transition: border .25s ease, background .25s ease;
}
