/**
 * Source bundle: Nautine Clatch
 * Developer:     Szilard Doro
 * Date:          2016-08-23
 *
 * Nautine UI Select style declaration.
 */
div.select__nautine {
    display: inline-block;

    position: relative;

    width: 160px;
    height: 35px;

    line-height: 35px;

    border-right: 0 !important;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

    z-index: 15;
 }

 div.select__toggle__nautine {
    display: inline-block;

    position: relative;

    top: 0;
    left: -1px;

    width: 35px;
    height: 35px;

    line-height: 37px;

    font-size: 14px;

    font-family: 'Helvetica', sans-serif !important;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;

    padding: 0 2px;

    color: #fff;

    text-align: center;
    vertical-align: top;

    cursor: default;
 }

 div.select__toggle__nautine:hover,
 div.select__nautine:hover ~ div.select__toggle__nautine {
    background: #546E7A;

    border: 2px solid #546E7A;
 }

 div.select__nautine__container > span.select-label__nautine {
    display: block;

    margin: 5px 0;

    cursor: default;
 }

 div.select__nautine > div.select__options__nautine {
    position: absolute;

    top: 0;
    left: 0;

    width: 160px;
    height: auto;

    background: #fff;

    border: 2px solid #e6e6e6;

    margin: -2px 0 0 -2px;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
 }

 div.select__nautine > div.select__options__nautine > div.option {
    display: none;

    color: #999;

    width: 100%;

    cursor: default;

    padding: 0 15px;
 }

 div.select__nautine > div.select__options__nautine > div.option:hover,
 div.select__nautine > div.select__options__nautine > div.option.selected {
    display: block;

    color: #555;

    background: #fafafa;
 }

/*
 * Nautine UI Switch style declaration.
 */
div.switch__nautine {
    display: inline-block;

    position: relative;

    width: 60px;
    height: 30px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    background: #fff;

    cursor: pointer;

    vertical-align: middle;
}

div.switch__nautine.active {
    border: 2px solid #5cb162;
    background: #5cb162;
}

div.switch__nautine > div.button {
    position: absolute;

    top: -3px;
    left: -3px;

    width: 32px;
    height: 32px;

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;

    background: #fafafa;

    margin: 0;
}

div.switch__nautine.active > div.button {
    margin-left: 31px;
}

div.switch__nautine > span {
    position: absolute;
    top: 6px;

    font-size: 13px;
}

div.switch__nautine > span.on {
    left: 6px;

    color: #fff;
}

div.switch__nautine > span.off {
    right: 6px;

    color: #5d5d5d;
}

/**
 * Profile badge style declaration.
 *
 * Contains only the skeleton of the badge.
 */
div.badge-container__nautine {
    display: inline-block;

    position: relative;

    width: 100px;
    height: 100px;

    text-align: center;
}

div.badge-container__nautine > div.badge__nautine {
    position: relative;

    width: 40px;
    height: 40px;

    line-height: 40px;

    font-size: 25px;

    text-align: center;

    padding: 10px;
    margin: 5px auto 0;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

div.badge-container__nautine > div.badge__nautine.skeleton {
    border: 2px dashed #e6e6e6;

    -webkit-transition: border-color .2s ease;
    -moz-transition: border-color .2s ease;
    -ms-transition: border-color .2s ease;
    -o-transition: border-color .2s ease;
    transition: border-color .2s ease;

    cursor: pointer;

    line-height: 38px;
}

div.badge-container__nautine > div.badge__nautine.skeleton:hover {
    border-color: rgba(48, 46, 46, 0.4);
}

div.badge-container__nautine > div.badge__nautine.skeleton span.default {
    font-size: 35px;
}

div.badge-container__nautine > span.badge-label__nautine {
    position: relative;

    top: -5px;

    font-size: 12px;
    font-size: 1vw;
}

/**
 * Nautine UI Checkbox style declaration.
 */
div.checkbox__nautine {
    display: block;

    width: 175px;
    height: 30px;

    line-height: 30px;
}

div.checkbox__nautine > div.checkbox-pipe__nautine {
    display: inline-block;

    width: 25px;
    height: 25px;

    padding: 3px;

    margin-right: 2px;

    vertical-align: -8px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.checkbox__nautine > div.checkbox-pipe__nautine > div.checkbox-pipe-inner__nautine {
    width: 15px;
    height: 15px;

    background: #fff;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div.checkbox__nautine.active > div.checkbox-pipe__nautine > div.checkbox-pipe-inner__nautine {

    background: #5cb162 !important;
}

div.checkbox__nautine > span.checkbox-label__nautine {
    font-size: 15px !important;

    cursor: default;
}

/**
 * Nautine UI Radio style declaration.
 */
div.radio__nautine {
    width: 175px;
    height: auto;

    min-height: 25px;
}

div.radio__nautine > span.radio-label__nautine {
    display: block;

    margin: 5px 0 7px;

    cursor: default;
}

div.radio__nautine div.radio-button__nautine {
    margin: 5px 0;
}

div.radio__nautine div.radio-button__nautine > div.radio-button-fill__nautine {
    display: inline-block;

    width: 20px;
    height: 20px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    vertical-align: -4px;

    margin: 0 2px 0 2px;
}

div.radio__nautine div.radio-button__nautine > div.radio-button-fill__nautine > div.radio-button-fill-inner__nautine {
    width: 12px;
    height: 12px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    margin: 2px auto 0;
}

div.radio__nautine div.radio-button__nautine > span.radio-button-label__nautine {
    font-size: 15px !important;
    cursor: default;
}

div.radio__nautine div.radio-button__nautine.active div.radio-button-fill-inner__nautine {
    background: #5cb162 !important;
}
